.footer-area {
    color: #eee;
  }
  .footer-area h3 {
    margin-bottom: 20px;
  }
  .site-footer {
    background-color: #fff;
    color: #616a78;
  }
  
  .site-footer p {
    margin-bottom: 0;
    font-weight: 400;
  }
  
  .site-footer a {
    color: #616a78;
  }